// paymentMethodsTable
.row.justify-content-center
  .col-lg-8.col-md-12
    h2.text-center.mt-4 وسائل الدفع
    if paymentMethods && paymentMethods.length > 0
      table.table.table-bordered.table-striped
        thead
          tr.align-middle.text-center
            th.col-2 اسم وسيلة الدفع
            th.col-2 نوع الرسوم
            th.col-2 الرسوم
            th.col-2 الحساب المرتبط
            th.col-2 حساب الرسوم
            th.col-2 الحالة
            th.col-2 الإجراءات
        tbody
          each method in paymentMethods
            tr.align-middle.text-center(data-id=method._id)
              td.col-2= method.name
              td.col-2= method.feeType === 'fixed' ? 'ثابتة' : method.feeType === 'percentage' ? 'نسبة مئوية' : 'بدون رسوم'
              td.col-2= method.fee + (method.feeType === 'percentage' ? '%' : method.feeType === 'fixed' ? ' د.ك' : '')
              td.col-2
                - const linkedBalance = method.balance ? balances.find(b => b._id.toString() === method.balance.toString()) : null
                = linkedBalance ? linkedBalance.name : 'غير مرتبط'


              td.col-2
                label.switch
                  input(
                    id=`feeCalc_${method._id}` 
                    class='fee-calculation-switch' 
                    type='checkbox' 
                    checked=method.enableFeeCalculation 
                    data-id=method._id
                  )
                  span.switch-slider.round
              td.col-2
                label.switch
                  input(
                    id=`enabled_${method._id}` 
                    class='payment-method-switch' 
                    type='checkbox' 
                    checked=method.enabled 
                    data-id=method._id
                  )
                  span.switch-slider.round
              td.col-2
                button.btn.btn-warning.btn-sm.mx-1(onclick=`editPaymentMethod('${method._id}', '${method.name}', '${method.feeType}', '${method.fee}', '${method.balance}')`) تعديل
                button.btn.btn-danger.btn-sm.mx-1(onclick=`deletePaymentMethod('${method._id}', '${method.name}')`) حذف
    else
      p.text-center.text-muted لا توجد وسائل دفع متاحة حاليًا