extends layout

block content

  #carouselExampleCaptions.carousel.slide.mb-1(data-ride='carousel' data-interval="3000")
    ol.carousel-indicators.pb-1
      li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
      li(data-target='#carouselExampleCaptions', data-slide-to='1')
      li(data-target='#carouselExampleCaptions', data-slide-to='2')
      li(data-target='#carouselExampleCaptions', data-slide-to='3')
      li(data-target='#carouselExampleCaptions', data-slide-to='4')
      li(data-target='#carouselExampleCaptions', data-slide-to='5')
      li(data-target='#carouselExampleCaptions', data-slide-to='6')
      li(data-target='#carouselExampleCaptions', data-slide-to='7')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://vvrilw.am.files.1drv.com/y4miW_efjowxKNORUF7PgW1TKENu__bL_24Prh28PnPSJiucTPgPJGnDuwcCgbzlqSQKwHoweOLabg3tjheOaELXh5RuULH1sShT6Vc9MgttU7B4Ev0i4g2_stqK1umFrDo-D_B-SnJdMr58u4zNAUS86hBndzNAHVhXdGuAxML5GKUIgQlmXBLmtp797XU9Bk8EzRdBazicNbv7xR2zRtXZA?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://u3qeva.am.files.1drv.com/y4mnXzdleBGQ1Val3pSAi_CiufgMzIjH_VP4xDgfdKq7WGSKMCuZ1e9w5oua2auFjQt3L4zQtKHpcj6jDEJn2NOr9UILm6T8JtmING2s0ackVbPDxtCFJBgRgX49933Q1PER5e2ZMD-2M4krHVdl4HuN2ugZt7a3ppKEj1cZtofS3Ou_F_JnebUDOR5ZgxMF2XDG6f6apBwzj5I15M4TI3lVQ?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://u395mq.am.files.1drv.com/y4mN7uZX0R3AEu5GBuLNiI2hq7WQq4w0O3mEI2fQ3rJtPWEhcHN3aHcPt_3uNrQysPgUTJLfcSZdqlOXbE45ZBmhr2sZx6ZrIAg4SHltQMXVUnkI4OfHvZ5CHevT5wetl0bRjYoJids2FTKGhR1DUzwlQtAoZlf3UMqi7nDFALzS97BoRLIEJFyXWERs8FV659VhNQ51h0-gsgeCQvl_AGWqw?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://u3pvgg.am.files.1drv.com/y4m14WK-K5mmw8XsyTzYyziOZr_d4rbZ_UEMg9LhF6XLwwuAsre4ASlcCwSThyG21tEJ8rOaT-sAHaAVESIpX7RpsyOYhJvCrHqGw3QYQLdvGU25YHHirUnsWXbupD1rc2ny24rb14CiFjScm_G5K_jPqb5xbPW--eNWdgpZsw5Q_AUOOnrnwVpP2kmledaf-aRVpb0yzmu6tNI5AFZty5oPQ?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://vvstug.am.files.1drv.com/y4mfYejPtXg6AjBqRYGnRMCBmpz9FxD0TPXTcHJGWkl5tL1qAYYOfGWweZwLyq9aX1mBwYdARiqHHudtfr6eLMgVwtwJWxNXZQM1Sbj36LRsa3-XVMEavS8WjuvUudbTCxZ0YrVCSGurUEeOOqQMB_Keq1Vm7yh2F7HwrdXm9-OC_Vm4_NQVigZP_AvLtkXkxUNv_Fkzkq_NLeoayfZDt9f7A?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://u38nxw.am.files.1drv.com/y4mjUqTuKV9g5AVFoHZEvpqxWX-aZnYlq7W8IwaklSLQS3QQ1VyZAMhGAavOHLSp-Xk2DVJvvaMglP98OgwLXcN1tK6Q2-CMvGvyAJtv303C2HL5Y-mghWdqS0FFxx24KxOBZULQHJLLqrqDlWtanU87-LZGsaTflOEu-ONfyGW_-F4ZRud2xPPwtL-6VSJwgfK606aHkEDYGDkvrYg5TponA?width=800&height=300&cropmode=none', alt='...')
      .carousel-item
        img.d-block.w-100(src='https://u38upg.am.files.1drv.com/y4miOTo_b-3oXhCd_GWz-5ArqivyAKOWIHL0gofTchbGEC-Lw48WJrHZ40IJddfjYArxZFJtW_iR1fmXN9czqquTEKDQw3clY05qVzxadMQGvi1Qb98g03g9d5uvHEg5PPGuWKB2ikzlX-7wzLMnVA-8V-RTEOgdsVobuxO3hx7zpSVzyrRKGbml3enkJ2fCVK_ETm1F-Ec3y5YJgYc5l4Yfg?width=800&height=300&cropmode=none', alt='...')
      
  .container.clearfix.mt-4.pt-2
    .row
      .col.p-0
        img.card-img-top(src='https://jn2lag.am.files.1drv.com/y4mPpKS0lzI6OqFhYsLyxL_IhRT6FsJH8EzXXlJ0p3s7hU69SzMYTSwwMHoqjy4P17nfojTXRHnXTGxu8uQ6Ez_FN6WJNu00CJifyWrmZ7bcDBNo-5-nt6xddLVDdYqSD7538N4dmClEI4aYi5DLl_7lH5ZKw5aSCieYuPQL_cKODI3iUdoyurAtR6P6IYMIezwR0Yx6di_yT5W7CvXrCAtSw?width=250&height=256&cropmode=none', alt='...')
      .col.p-0
        img.card-img-top(src='https://jn0kjg.am.files.1drv.com/y4mDS2z0KbrX03x9_N9BKDjTk-247DbFfhqVqBTO0_1iJ52Inl0lu86dm8iMEB4SOk-qA58KBfQxL_VmXbq2CNjkEaZtcTxfzy1seJ0pTMiHU8dj9qgiwP0NjkUc00wvVU0qe5nwwJ9G2Pjyk-huCnGruw87eDlLAqwW1O7eUwDZKDH17_gPVfIWAXBZLlTgPdEFrbtns9Xb4O8MrbgUm1pdA?width=250&height=256&cropmode=none', alt='...')
      .col.p-0
        img.card-img-top(src='https://jn3upa.am.files.1drv.com/y4mv0t6ByNpPD8uXK2EneCNrTQzTh2GXj-kn44Bbl6r_M2QLEWf78eJ-HhhEcuKZOIFOtCIBuAtavOr8KtmehVgOEexzspwxnhu_kK-iJ9KxuSoam8hF2_Z8Ei54mtaduMKlypiEQbQR2y5DWYzcVWF2kBRvZ9R8fB1ncddtxc_sdWUTxsUDb-jqjG4YdZtuWGMJAQPWagZ4Y5OOFIv1wRXhg?width=250&height=256&cropmode=none', alt='...')

  -console.log("courseData"+ courseData);
  -console.log("chapterData"+ chapterData);

  div.my-4
    h5.text-right.mr-4.mt-2.font-weight-bold أفضل العروض
    div(style='display: flex;overflow-x: auto;hight: 9 rem;').pb-2.px-3
      each chapter,index in chapterData
        if chapter.showInDiscountPanel == 'yes'
          .px-2.bd-highlight.bg-white.mx-1(style='flex: 0 0 auto;width: 144px;').align-items-stretch.d-flex
            .bd-highlight(style='max-width: 9 rem !important;').align-items-stretch.d-flex
              a(href=`product/${chapter._id}`).align-items-stretch.d-flex
                .d-flex.flex-column.card-body.p-0
                  span.image-wrap
                    img.card-img-top.lazyload(data-src=chapter.sectionsLinks[0] || "images/fff.png" onerror="this.onerror=null; this.src='images/fff.png'")
                  h6.card-subtitle.mb-2.mt-1.text-muted.text-right.font-weight-normal= chapter.name
                  h6.card-text.font-weight-bold.m-0.text-right.mt-3.mt-auto= `${chapter.price} د.ك`
                      

  - var Bgray = "yes";
  each course,index in courseData
    if course.parent != 0 && course.showInHomePage == 'yes'
      if Bgray == "yes"
        - Bgray = "no";
        div.Bgray.my-4
            h5.text-right.mr-4.mt-2.font-weight-bold= course.name
            div(style='display: flex;overflow-x: auto;hight: 9 rem;').pb-2.px-3
              each chapter,index in chapterData
                if chapter.courseID == course._id
                  .p-2.bd-highlight.bg-white.mx-1(style='flex: 0 0 auto;width: 144px;').align-items-stretch.d-flex
                    .bd-highlight(style='max-width: 9 rem !important;').align-items-stretch.d-flex
                      a(href=`product/${chapter._id}`).align-items-stretch.d-flex
                        .d-flex.flex-column.card-body.p-0
                          span.image-wrap
                            img.card-img-top.lazyload(data-src=chapter.sectionsLinks[0] || "images/fff.png" onerror="this.onerror=null; this.src='images/fff.png'")
                          h6.card-subtitle.mb-2.mt-1.text-muted.text-right.font-weight-normal= chapter.name
                          h6.card-text.font-weight-bold.m-0.text-right.mt-3.mt-auto= `${chapter.price} د.ك`
      else
        - Bgray = "yes";
        div 
              h5.text-right.mr-4.mt-2.font-weight-bold= course.name
              div(style='display: flex;overflow-x: auto;hight: 9 rem;').pb-2.px-3
                each chapter,index in chapterData
                  if chapter.courseID == course._id
                    .p-2.bd-highlight.mx-1(style='flex: 0 0 auto;width: 144px;').align-items-stretch.d-flex
                      .bd-highlight(style='max-width: 9 rem !important; ').align-items-stretch.d-flex
                        a(href=`product/${chapter._id}`).align-items-stretch.d-flex
                          .d-flex.flex-column.card-body.p-0(style='')
                            span.image-wrap
                              img.card-img-top.lazyload(data-src=chapter.sectionsLinks[0] || "images/fff.png" onerror="this.onerror=null; this.src='images/fff.png'")
                            h6.card-subtitle.mb-2.mt-1.text-muted.text-right.font-weight-normal= chapter.name
                            h6.card-text.font-weight-bold.m-0.text-right.mt-3.mt-auto= `${chapter.price} د.ك`
                      
  

    
    
  // - var card = 0
  
  // each course,index in courseData
    if course.parent == 0 
      //- - console.log(course.parent+"    index: " +index)
      - card++
      - var subchaptersArray =[]
      .container.clearfix.pt-4
        .col
          .card.cardShadow.mb-3.border-bottom.border-3
            .row.hideMAX
              .col
                .d-flex.justify-content-between.border-bottom.color2
                  i.fa.fa-angle-down.px-3.bd-highlight.my-auto.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target=`#SubCategory${card}`, aria-controls=`SubCategory${card}`, aria-expanded='false', aria-label='Toggle navigation')
                  .p-2.bd-highlight "Title"
                div.collapse(id=`SubCategory${card}`)
                  .d-flex.flex-row-reverse.bd-highlight.border-bottom
                    each subcourse,index in courseData
                      
                      a(href='/'+course._id)
                        
                        if subcourse.parent != "0" && course._id == subcourse.parent
                          span.badge.badge-secondary.m-2.p-2= s "Title"
                          - subchaptersArray.push(subcourse._id)
                          //- - console.log('x____'+subchaptersArray)
                    
            .row
              .col.border-left.pl-0.hideMIN
                a(href=`products/${course._id}`)
                  .p-2.bd-highlight.border-bottom
                    img.card-img-top.px-4(src='https://cdn.shopify.com/s/files/1/0437/2558/6586/products/85475439-6315-44D3-97A0-889EC00ED704_360x.jpg?v=1595300731', alt='...')
                    h4.span12.text-center "Title"
                each subcourse,index in courseData
                  a(href='/'+course._id)
                    if subcourse.parent != "0" && course._id == subcourse.parent
                      .p-2.bd-highlight.border-bottom.text-right= s "Title"
              .col.col-lg-9.pl-10
                .row.row-cols-2.row-cols-sm-3
                  
                  each chapter,index in chapterData
                    //- - console.log(chapter.courseID)
                    each subchapters in subchaptersArray
                      if subchapters == chapter.courseID
                        .col
                          .card-body.hoverInShadow
                            span.image-wrap
                              img.card-img-top.lazyload(data-src=chapter.sectionsLinks[0] || "images/fff.png" onerror="this.onerror=null; this.src='images/fff.png'")
                            //- img.card-img-top.lazyload(src="images/c9c9c9.png")
                            h6.card-subtitle.mb-2.mt-1.text-muted.text-center "Tiltle"
                            h6.card-text.text-secondary.color3.m-0.ltr.text-center= `${chapter.price} K.D`
                            a.stretched-link(href=`product/${chapter._id}`)

