doctype html
html
  head
    title Images in #{folderName}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    .container
      h1 Images in #{folderName}
      .row
        if images.length
          each image in images
            .col-md-4
              .card
                img.card-img-top(src=image.url, alt='Uploaded Image')
                .card-body
                  p.card-text #{image.name}
                  form(action='/delete-image', method='post')
                    input(type='hidden', name='imageName', value=image.name)
                    button(type='submit', class='btn btn-danger mt-2') Delete
        else
          p No images found.
