form(action="/manager/merchant/settings" method="POST")
  .row
    #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
      h1.page-header.text-overflow.col-md-8 إدارة إعدادات الرسائل القصيرة

  table.table.table-bordered.table-striped.table-hover
    tbody
      tr.align-middle
        td.col-3
          label.control-label(for='merchantNotification') إشعار طلب جديد لك
        td.col-9
          .input-group
            input(type="hidden", name="notifications[newOrder][merchantNotification][enabled]", value="off")
            label.switch
              input#merchantNotification(type='checkbox', name='notifications[newOrder][merchantNotification][enabled]', value="on", checked=merchant.notifications.newOrder.merchantNotification.enabled ? 'checked' : undefined)
              span.switch-slider.round

      tr.align-middle
        td.col-3
          label.control-label(for='customerNotification') إشعار طلب جديد للعملاء
        td.col-9
          .input-group
            input(type="hidden", name="notifications[newOrder][customerNotification][enabled]", value="off")
            label.switch
              input#customerNotification(type='checkbox', name='notifications[newOrder][customerNotification][enabled]', value="on", checked=merchant.notifications.newOrder.customerNotification.enabled ? 'checked' : undefined)
              span.switch-slider.round

      tr.align-middle
        td.col-3
          label.control-label(for='subUserNotification') إشعار طلب جديد للمستخدمين الفرعيين
        td.col-9
          .input-group
            input(type="hidden", name="notifications[newOrder][subUserNotification][enabled]", value="off")
            label.switch
              input#subUserNotification(type='checkbox', name='notifications[newOrder][subUserNotification][enabled]', value="on", checked=merchant.notifications.newOrder.subUserNotification.enabled ? 'checked' : undefined)
              span.switch-slider.round

      tr.align-middle
        td.col-3
          label.control-label(for='newOrderTextEn') إشعار طلب جديد للعميل (English)
          p.text-secondary المتغيرات: [[store_name]], [[order_number]]
        td.col-9
          .input-group
            textarea#newOrderTextEn.form-control(dir='ltr', name='notifications[newOrder][customerNotification][text][en]')= merchant.notifications.newOrder.customerNotification.text.en

      tr.align-middle
        td.col-3
          label.control-label(for='newOrderTextAr') إشعار طلب جديد للعميل (Arabic)
          p.text-secondary المتغيرات: [[store_name]], [[order_number]]
        td.col-9
          .input-group
            textarea#newOrderTextAr.form-control(dir='rtl', name='notifications[newOrder][customerNotification][text][ar]')= merchant.notifications.newOrder.customerNotification.text.ar

      tr.align-middle
        td.col-3
          label.control-label(for='merchantNotificationTextEn') إشعار طلب جديد لك (English)
          p.text-secondary المتغيرات: [[store_name]], [[order_number]]
        td.col-9
          .input-group
            textarea#merchantNotificationTextEn.form-control(dir='ltr', name='notifications[newOrder][merchantNotification][text][en]')= merchant.notifications.newOrder.merchantNotification.text.en

      tr.align-middle
        td.col-3
          label.control-label(for='merchantNotificationTextAr') إشعار طلب جديد لك (Arabic)
          p.text-secondary المتغيرات: [[store_name]], [[order_number]]
        td.col-9
          .input-group
            textarea#merchantNotificationTextAr.form-control(dir='rtl', name='notifications[newOrder][merchantNotification][text][ar]')= merchant.notifications.newOrder.merchantNotification.text.ar

      tr.align-middle
        td.col-3
          label.control-label(for='orderStatusTextEn') تحديث حالة الطلب للعميل (English)
          p.text-secondary المتغيرات: [[current_order_status]], [[order_number]]
        td.col-9
          .input-group
            textarea#orderStatusTextEn.form-control(dir='ltr', name='notifications[orderStatusUpdate][customerNotification][text][en]')= merchant.notifications.orderStatusUpdate.customerNotification.text.en

      tr.align-middle
        td.col-3
          label.control-label(for='orderStatusTextAr') تحديث حالة الطلب للعميل (Arabic)
          p.text-secondary المتغيرات: [[current_order_status]], [[order_number]]
        td.col-9
          .input-group
            textarea#orderStatusTextAr.form-control(dir='rtl', name='notifications[orderStatusUpdate][customerNotification][text][ar]')= merchant.notifications.orderStatusUpdate.customerNotification.text.ar

      tr.align-middle
        td.col-3
          label.control-label(for='emailRecipients') عناوين البريد الإلكتروني لاستلام الإشعارات
          small.text-muted.d-block.mt-1 "يمكنك إدخال عناوين بريد إلكتروني متعددة مفصولة بفاصلة منقوطة (;)."
        td.col-9
          .input-group
            input.form-control.mb-2(type="text", name="emailRecipients", value=merchant.emailRecipients.join('; '), placeholder="أدخل عناوين البريد الإلكتروني مفصولة بفاصلة منقوطة", dir="ltr")

  .row
    .col.d-flex.justify-content-end
      button.btn.btn-primary.btn-labeled.mx-2(type='submit')
        .fa.fa-save
        span= " حفظ "
